SERVER_PORT=3004
DB_URL=jdbc:mysql://localhost:3306/movie_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=your_dbname
DB_PASSWORD=your_password
JWT_SECRET=your-secret-here
JWT_ACCESS_EXP=900000
JWT_REFRESH_EXP=2592000000
